<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.ht.mapper.ModuleMapper">

    <resultMap id="moduleRM" type="Module" autoMapping="true">
        <id column="module_id" property="moduleId"/>

        <association property="parentModule" javaType="Module">
            <id column="p_id" property="moduleId"/>
            <result column="p_name" property="name"/>
        </association>

    </resultMap>

    <select id="findAll" resultMap="moduleRM">
        select *
        from module_p m1
                 left join (select MODULE_ID p_id, NAME p_name from module_p)m2 on m1.PARENT_ID = m2.p_id
    </select>

    <!--查询中间表module信息-->
    <select id="findRoleModuleByRoleId" resultType="string">
        select *
        from role_module_p
        where ROLE_ID = #{roleId}
    </select>

</mapper>