<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.tedu.ht.mapper.RoleMapper">

    <!--&lt;!&ndash;查询全部的角色信息&ndash;&gt;-->
    <!--<select id="findAll" resultType="Role">-->
    <!--select *-->
    <!--from role_p-->
    <!--</select>-->

    <delete id="deleteRole">
        delete from role_p where ROLE_ID in
        <foreach collection="array" open="(" close=")" item="roleId" separator=",">
            #{roleId}
        </foreach>
    </delete>

    <!--批量插入中间表的信息-->
    <insert id="saveRoleModule">
        insert into role_module_p (MODULE_ID,ROLE_ID) values
        <foreach collection="array" item="moduleId" separator=",">
            (#{moduleId}, #{roleId})
        </foreach>
    </insert>

</mapper>